/* for about us page map */
.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* for contact us page map */
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}





@font-face {
    font-family: 'iransansfont';
    src: url('fonts\IRANSansWeb.eot') format('eot');
    url('fonts\IRANSansWeb.woff') format('woff'), url('fonts\IRANSansWeb.ttf') format('truetype');
}

div {
    font-family: iransansfont;
}

a {
    font-family: iransansfont;
}








